<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <b-navbar toggleable="md" type="dark" variant="info">
                        <b-navbar-brand href="#">Flicrk Api</b-navbar-brand>
                    </b-navbar>

                    <div class="card-body">

                        <b-carousel id="carousel1"
                            style="text-shadow: 1px 1px 2px #333;"
                            controls
                            indicators
                            background="#ababab"
                            :interval="1000"
                            img-width="1024"
                            img-height="480"
                            v-model="slide"
                            @sliding-start="onSlideStart"
                            @sliding-end="onSlideEnd"
                        >
                            <template v-for="image in imagesList">
                                <b-carousel-slide v-bind:img-src="image"></b-carousel-slide>
                            </template>

                        </b-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import baseUrl from './../config/endpoint.js';

   export default {
        created: function () {
            let self = this;
            axios.get(baseUrl+'/flickr_images')
                .then(function (response) {
                    self.images = response.data.images
                })
                .catch(function (error) {
                    console.log(error);
                })
        },
        computed: {
            imagesList() {
                return this.images;
            }
        },
        data () {
            return {
                slide: 0,
                sliding: false,
                images:[]
            }
        },
        mounted: function () {
            this.onSlideStart();
        },
        methods: {
            onSlideStart (slide) {
                this.sliding = true
            },
            onSlideEnd (slide) {
                this.sliding = false
            }
        }
    }
</script>
